<html>
  <head>
    ${theme.asset_tag('main.css')}
    ${theme.asset_tag('main.js')}
  </head>
  <body>
    <div id="wrapper">
      <div id="nav">
        <div class="manual_controls">
          <button id="toggle_pen" class="neutral">Pen Up</button>
        </div>
        <div class="manual_controls">
          <button id="start" class="positive">Start Plotting</button>
        </div>
      </div>
      <div id="main">
        <div id="dropper"></div>
      </div>
    </div>
  </body>
</html>
