<!DOCTYPE html>
<html>
  <head>
    <title>AxiBot Server</title>
    ${theme.asset_tag('main.css')}
    ${theme.asset_tag('main.js')}
  </head>
  <body>
    <section>
      <div class="controls">
        <h3 id="state">Disconnected</h4>
        <p id="progress">
          <span id="action_index">-</span> / <span id="num_actions">-</span>
        </p>

        <button id="pen_up" class="neutral">Pen Up</button>
        <button id="pen_down" class="neutral">Pen Down</button>

        <button id="start" class="positive">Start Plotting</button>
        <button id="pause" class="neutral">Pause Plotting</button>
        <button id="cancel" class="negative">Cancel Plotting</button>

        <form action="/upload" method="post" enctype="multipart/form-data">
          <input type="file" name="file">
          <button type="submit">Upload</button>
        </form>
      </div>

      <div class="preview">
        <img id="document" src="/document.svg" alt="" title="">
      </div>
    </div>
  </section>
</html>
