<!DOCTYPE html>
<html>
  <head>
    <title>AxiBot Server</title>
    ${theme.asset_tag('main.css')}
    ${theme.asset_tag('main.js')}
  </head>
  <body>
    <div id="app">
      <div class="controls">
        <h3>{{ state | capitalize }}</h4>
        <p id="progress">{{ actionIndex }} / {{ numActions }}</p>

        <button :disabled="disableManualMove" @click="penUp">Pen Up</button>
        <button :disabled="disableManualMove" @click="penDown">Pen Down</button>

        <button :disabled="disableResumePlotting" @click="resumePlotting" class="positive">Plot</button>
        <button :disabled="disablePausePlotting" @click="pausePlotting">Pause</button>
        <button :disabled="disableCancelPlotting" @click="cancelPlotting" class="negative">Cancel</button>

        <form action="/upload" method="post" enctype="multipart/form-data">
          <input type="file" name="file">
          <button type="submit">Upload</button>
        </form>
      </div>

      <div class="preview">
        <img id="document" src="/document.svg" alt="" title="">
      </div>
    </div>
  </div>
</html>
