@import "normalize.css";

$gutter: 12px;
$dark-color: #222;
$positive-color: #22cc88;
$negative-color: #cc0000;

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", Arial, sans-serif;
    margin: 0;
}

#app {
    margin: 0;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}

.controls {
    width: 200px;
    color: #eee;
    background-color: $dark-color;
    padding: $gutter;
    text-align: center;

    button {
        box-sizing: border-box;
        width: 100%;
        padding: 8px 16px;
        margin: 8px 0;
    }
}

.control-group {
    margin-bottom: $gutter * 2;
}

#preview {
    position: relative;
}

.pen {
    position: absolute;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    background-color: $positive-color;
    top: 0;
    left: 0;
    visibility: hidden;

    &.pen-plotting {
        visibility: visible;
    }

    &.pen-up {
        background-color: $negative-color;
    }
}

button {
    border-radius: 8px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #666;

    &:active {
        filter: brightness(1.2);
    }

    /*Don't put stupid blue outlines around buttons*/
    &:focus {
        outline:0;
    }

    &.positive {
        background-color: $positive-color;
    }
    &.negative {
        background-color: $negative-color;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .7;
    }
}

.right {
    position: relative;
}

.progress {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ccc;
    margin: $gutter;
    border: 1px solid $dark-color;

    .progress-bar {
        display: block;
        height: 24px;
        background-color: $dark-color;
    }
}
