include README.rst
include CHANGES
include LICENSE
recursive-include examples *.svg
recursive-include axibot/server/dist *.js *.css

prune docs/_build
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
