<html>
    <head>
        <link href="static/main.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.js"></script>
        <script src="static/main.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="nav">
                <div class="manual_controls">
                    <button id="up" class="neutral">Up</button>
                </div>
                <div class="manual_controls">
                    <button id="left" class="neutral">Left</button>
                    <button id="right" class="neutral">Right</button>
                </div>
                <div class="manual_controls">
                    <button id="down" class="neutral">Down</button>
                </div>
                <button id="start" class="positive">Start Plotting</button>
            </div>
            <div id="main">
                <div id="dropper"></div>
            </div>
        </div>
    </body>
</html>
